<style>
  .row > * {
    padding: 0;
  }
  .row {
    margin: 0;
  }
</style>

<main class="main">
  <div class="content">
    <div class="d-flex row">
      <app-control-panel
        (onSettingsChangedEvent)="applySettings($event)"
        [defaultSettings]="savedSettings"
        class="col-2"
      ></app-control-panel>
      <app-map-view
        [earthquakes]="earthquakes"
        [volcanoes]="volcanoes"
        class="col-10"
      ></app-map-view>
    </div>
  </div>
</main>

<router-outlet />
