@use "@angular/material" as mat;

:root {
  --mat-sys-primary: #0b6bcb; /* Primary color */
  --mat-sys-on-primary: #ffffff; /* Text color on primary */
  --mat-sys-primary-container: #a6c1db; /* Lighter variant */
  --mat-sys-on-primary-container: #000000; /* Text on lighter variant */
}

html,
body {
  height: 100%;
}
html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
        theme-type: dark,
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  margin-bottom: 0px !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: var(--Surface-Container-High, #1d2024);
  color: #fff;
  border: 1px solid #757575;
  // background-color: #333 !important;
  // color: #fff !important;
}

.leaflet-popup-close-button {
  margin: 10px;
}

.leaflet-container a.leaflet-popup-close-button {
  color: 1px solid #757575;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(205deg) brightness(80%) contrast(90%);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-radius: 12px;
  background: var(--Surface-Container-High, #1d2024) !important;
}
