src/EarthquakesMicroservice/obj/
src/EarthquakesMicroservice/bin/
src/VolcanoesMicroservice/bin/
src/VolcanoesMicroservice/obj/
src/RealTimeIncident/
src/Gateway/bin
src/Gateway/obj
src/Gateway/app
src/Gateway/.idea
src/Gateway/Properties
src/AspireDiscovery/Properties
src/AspireDiscovery/Properties

src/AspireDiscovery/AspireDiscovery.AppHost/bin/
src/AspireDiscovery/AspireDiscovery.AppHost/obj/
src/AspireDiscovery/AspireDiscovery.AppHost/Properties/

src/AspireDiscovery/AspireDiscovery.ServiceDefaults/bin/
src/AspireDiscovery/AspireDiscovery.ServiceDefaults/obj/
src/AspireDiscovery/AspireDiscovery.ServiceDefaults/Properties/

src/AspireDiscovery/AspireDiscovery.ApiService/bin/
src/AspireDiscovery/AspireDiscovery.ApiService/obj/
src/AspireDiscovery/AspireDiscovery.ApiService/Properties/

src/AspireDiscovery/AspireDiscovery.Web/bin/
src/AspireDiscovery/AspireDiscovery.Web/obj/
src/AspireDiscovery/AspireDiscovery.Web/Properties/
src/AspireDiscovery/AspireDiscovery.Web/wwwroot/
src/AspireDiscovery/obj/
.idea/
.env