<style>
  .mat-divider {
    border-top-color: var(--Divider-2, #32383e);
  }

  .mat-mdc-card {
    background: var(--Surface-Container-High, #1d2024);
    color: #fff;
    box-shadow: none;
    /* border: 1px solid var(--Divider-2, #32383e); */
  }
</style>

<mat-card>
  <mat-card-header style="padding: 12px 16px">
    <mat-card-title
      style="
        color: #dcdcdc;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 12px;
      "
    >
      {{ incident.name }}
    </mat-card-title>
    <mat-card-subtitle style="color: #757575; font-size: 14px">
      {{ incident.description }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-card-content style="padding: 12px 16px">
    <!-- <b>Lattitude:</b>
    {{ incident.lattitude }}
    ° N <br />
    <b>Longitude:</b>
    {{ incident.longitude }}
    ° E<br />
    <b>Magnitude: </b>
    {{ incident.magnitude }}
    <br />

    <b>Region: </b>
    {{ incident.region }}
    <br />
    <b>Deaths: </b>
    {{ incident.deaths }} -->
    <ng-container *ngIf="isEarthquake(incident)">
      <b>Latitude:</b> {{ incident.latitude }} ° N <br />
      <b>Longitude:</b> {{ incident.longitude }} ° E<br />
      <b>Magnitude: </b> {{ incident.magnitude }} <br />
      <b>Region: </b> {{ incident.region }} <br />
      <b>Deaths: </b> {{ incident.deaths }}
    </ng-container>

    <ng-container *ngIf="!isEarthquake(incident)">
      <b>Latitude:</b> {{ incident.latitude }} ° N <br />
      <b>Longitude:</b> {{ incident.longitude }} ° E<br />
      <b>Elevation: </b> {{ incident.elevation }} <br />
      <b>Region: </b> {{ incident.region }} <br />
      <b>Deaths: </b> {{ incident.deathsTotal }} <br />
      <b>Date: </b> {{ incident.date | date : "longDate" }}
    </ng-container>
    <!-- </p> -->
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button>READ MORE DETAILS</button>
  </mat-card-actions>
</mat-card>
